.marquee-container {
    width: 100%;
    white-space: nowrap;
    background-color: #0f172a;
    height: 25px;
}

.marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    font-size: 16px;
    color: white;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}