:root {
  --background: #ffffff;
  --foreground: #171717;
  --default_div_width: 70%;
  --heading_size1 : 35px;
  --color1: #0f172a;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@font-face {
  font-family: "GoogleSans";
  src: url("/fonts/googlesans.ttf");
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "GoogleSans" !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.5s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
