.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  --border-radius-primary: 8px;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  margin: 2rem auto;
}

.main2{
    width: 60%; 
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.tags{
  display: flex;
}

.tags span{
  background-color: #10b981;
  padding: 5px;
  border-radius: 8px;
  margin: auto 2px;
}

.reqs{
  display: flex;
  align-items: flex-start;
  justify-content:flex-start;
  list-style: none;
  margin: 10px auto;
}

.reqs span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-weight: 600;
}

.reqs li{
  background-color: #10b981;
  padding: 5px;
  border-radius: 8px;
  margin: 0px 2px;
}

.card button{
  width: 85%;
  margin: auto;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

.btn {
  background: var(--foreground);
  color: var(--background);
  padding: 0.5rem;
  max-width: 5rem;
}

.link {
  display: inline-block;
  color: var(--background);
  background-color: var(--foreground);
  padding: 0.25rem;
  border-radius: 4px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/*CARDS*/
.cardPage {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 50px auto 100px auto;
}

.cardPage h2{
  font-size: 30px;
}

.cardPage h3{
  font-size: 20px;
}

.cardPage h2, .cardPage h3 {
  text-align: center;

}

.cardPage h4 {
  font-size: 26px;
  margin: 20px auto;
  text-align: center;
}

.cardPage p {
  width: 85%;
  margin: auto;
}

.cards {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  color: white;
}

.card {
  width: 500px;
  padding: 20px 0px;
  border-radius: 8px;
  background-color: var(--color1);
  text-align: left;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin: 15px;
}

.card::-webkit-scrollbar{
  display: none;
}


.card p {
  font-size: 14px;
}

.card ul {
  width: 85%;
}

.card_bold, p.card_bold {
  font-weight: 600;
  font-size: 1.2rem;
}

.card_desc {
  margin-top: 1rem;
}
  
.card button {
  padding: 5px 15px;
  background-color: var(--background);
  border-radius: 4px;
  border: 0px;
  margin-top: 10px;
  font-weight: 600;
  transition: 0.4s ease-in-out;
}

.card button:hover {
  padding: 5px 50px;
}

.card_bold {
  font-size: 16px;
}

.postPara{
  width: 60% !important;
  margin: 50px auto 20px auto !important;
}

.boxContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.boxContainer h2{
  margin-bottom: 30px;
}

.boxContainer ul{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
}

.boxContainer ul li{
  width: 220px;
  background-color: var(--color1);
  color: var(--background);
  list-style: none;
  padding: 15px 10px;
  border-radius: 8px;
  font-weight: 600;
}

.boxContainer p {
  margin-top: 10px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
    margin: auto;
    width: 80%;
  }

    .cardPage p {
      width: 100%;
    }

    .cards{
      width: 100%;
    }

        .card {
          margin: 10px auto;
        }
        
                .postPara {
                  width: 80% !important;
                }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

/*MOBILE VIEW*/
@media (max-width: 1024px) {
  .boxContainer ul {
    flex-direction: column;
  }

  .boxContainer ul li {
    width: 100%;
  }

  .postPara {
    width: 100% !important;
  }

  .tags{
    width: 80% !important;
    margin: auto !important;
  }

  .reqs {
    flex-wrap: wrap;
  }
  
  .reqs span{
    width: 100%;
  }

  .cardPage p{
    width: 80%;
    margin: auto;
  }
}