.about_landing {
    width: var(--default_div_width);
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-content p {
    width: 50%;
    font-weight: 500;
}

.about_landing h2 {
    font-size: var(--heading_size1);
    margin-bottom: 20px;
}


.about_gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px auto;
}

.about_gallery img {
    width: 35%;
    margin: auto;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .about_landing {
        width: 100%;
    }

    .about-content {
        flex-direction: column;
        width: 100%;
    }

    .about-content p {
        width: 100%;
    }

        .about_gallery img {
            width: 45%;
        }
}